*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

html {
  background-color: #fffef8;
  font-weight: 400;
}

body {
  background: #fffef8;
  color: #231f20;
  font-family: sans-serif;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body *,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-style: normal;
}

header {
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 3;
}

header .logo {
  margin: 0 auto;
  width: 337px;
}

header .logo svg {
  fill: white;
  height: 140px;
  width: 337px;
}

header nav {
  position: absolute;
  right: 40px;
  top: 40px;
}

header nav ul {
  list-style: none;
}

header nav a {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: "rift";
  font-size: 0.5rem;
  font-weight: 700;
  padding-bottom: 8px;
  opacity: 0.75;
}

header nav a:hover {
  opacity: 1;
}

header nav.highlighted a {
  color: #231f20;
}

.burger {
  padding-left: 8px;
}

.burger div {
  background-color: white;
  border-radius: 4px;
  height: 2px;
  width: 14px;
}

header nav.highlighted .burger div {
  background-color: #231f20;
}

.burger div:first-of-type {
  margin-bottom: 4px;
}

header.highlighted .logo {
  background-color: #f04e36;
  border-top: 6px solid #f48372;
  height: 100px;
  width: 200px;
}

header.highlighted .logo svg {
  height: 100px;
  padding-bottom: 6px;
  transform: scale(2);
  width: 200px;
}

main {
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}

.flex-item {
  flex: 1 1 100%;
}

#hero {
  align-items: center;
  background: url("../img/homebackground.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

#hero * {
  color: white;
  text-transform: uppercase;
  position: relative;
}

#hero h1 {
  font-family: "gin";
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 0.5em;
  max-width: 500px;
  width: 100%;
}

#hero a {
  font-family: "rift";
  font-weight: 700;
}

#hero a:before {
  content: "-----------------";
  font-size: 0.9rem;
  overflow: hidden;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
}

#arsenal {
  height: 90vh;
}

#product {
  height: 100vh;
}

#about-us {
  height: 100%;
}

#about-us .flex {
  align-items: center;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  width: 875px;
}

#about-us .flex:first-of-type {
  padding-top: 40px;
}

#about-us .flex:last-of-type {
  padding-bottom: 40px;
}

#about-us .flex .flex-item:first-of-type {
  padding-right: 40px;
}

#about-us .flex:last-of-type .flex-item:last-of-type {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#about-us p {
  font-family: "industry";
  font-size: 0.6rem;
}

#about-us img {
  height: auto;
  max-width: 100%;
}

#about-us h5 {
  background-color: #f04e36;
  color: white;
  font-family: "gin";
  position: absolute;
  padding: 8px;
  font-size: 0.5rem;
  bottom: 25px;
  font-weight: 300;
  letter-spacing: 0;
}

#arsenal:after,
#product:after,
#about-us:after {
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  content: "";
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
}

#arsenal svg,
#product svg,
#about-us svg {
  fill: rgba(230, 219, 206, 0.4);
  height: 100vh;
  overflow: visible;
  position: absolute;
  top: -280%;
  transform: scale(7);
  width: 100vw;
}

#arsenal > section:first-of-type,
#product > section:first-of-type,
#about-us > section:first-of-type {
  border: 8px solid #e6dbce;
  margin: 20px;
  width: 100%;
  z-index: 2;
}

#arsenal > .flex {
  height: auto;
}

#arsenal h2,
#product h1,
#about-us h1 {
  font-family: "gin";
  font-size: 2.5rem;
  font-weight: 300;
  padding-top: 40px;
  position: relative;
}

#about-us h1 {
  font-size: 1rem;
  padding-top: 80px;
}

#about-us h1 span {
  font-size: 2.5rem;
  line-height: 1;
}

#about-us h1 span:before {
  content: '';
  display: block;
}

#product h1 {
  margin-bottom: -30px;
  padding-top: 105px;
}

#arsenal h2 {
  color: #f04e36;
}

#product h1 {
  color: #231f20;
}

#arsenal h2:after,
#product h1:after,
#about-us h1:after {
  color: #e6dbce;
  display: block;
  font-size: 1.4rem;
  overflow: hidden;
  line-height: 1;
}

#arsenal h2:after {
  content: "----------------------";
}

#product h1:after {
  content: "---------------";
}

#about-us h1:after {
  content: "-------------------";
}

#arsenal *,
#product *,
#about-us h5 {
  text-transform: uppercase;
}

#arsenal p,
#product p,
#product h5,
#product button {
  font-family: "rift";
}

#product .flex {
  height: auto;
  padding: 0 60px;
}

#product .flex .flex-item:first-of-type {
  flex-basis: 800px;
}

#product .flex .flex-item:last-of-type {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  flex-basis: 600px;
}

#product p {
  padding-bottom: 12px;
}

#product .flex .flex-item:last-of-type p {
  font-size: 0.8rem;
}

#product .flex .flex-item:last-of-type h5 {
  font-size: 0.9rem;
  padding-bottom: 12px;
}

#product .flex .flex-item:last-of-type p:first-of-type {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1px;
}

#product button {
  border: 2px dashed;
  border-radius: 4px;
  display: block;
  font-weight: bold;
  padding: 8px;
  margin: 0 auto;
}

#product h4 {
  font-family: "rift";
  color: #f04e36;
}

#arsenal p:first-of-type {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 20px;
}

#arsenal p:last-of-type {
  color: #333132;
  font-size: 0.9rem;
  padding-bottom: 20px;
}

#arsenal .flex-item img,
#arsenal h3 {
  border-right: 4px solid rgba(230, 219, 206, 0.3);
}

#arsenal .flex-item:last-of-type img,
#arsenal .flex-item:last-of-type h3 {
  border: none;
}

#arsenal img,
#product img {
  max-width: 100%;
  display: block;
  height: auto;
}

#arsenal img {
  padding: 20px 20px 0 20px;
  transition: all 0.4s;
}

#arsenal img:hover {
  transform: translateY(-20px);
}

#arsenal h3 {
  font-family: "rift";
  font-size: 1.6rem;
}

#arsenal h4 {
  color: #333132;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}

#product button {
  color: #f04e36;
}

#video {
  background-color: #f04e36;
  z-index: 2;
}

#video img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#video > section:first-of-type {
  border-bottom: 8px solid #c13d32;
  border-top: 8px solid #c13d32;
  margin: 20px 0;
  width: 100%;
}

#video h2 {
  color: white;
  font-family: "gin";
  font-size: 2.5rem;
  padding-top: 15px;
  text-transform: uppercase;
}

#video svg {
  fill: white;
  overflow: visible;
  position: absolute;
  top: -59%;
  transform: scale(0.92);
  left: -15%;
}

.iframe-wrapper {
  width: 1100px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}

@media (min-width: 30rem) {
  :root {
    font-size: calc(1rem + ((1vw - 0.3rem) * 1.1111));
  }
}

@media (min-width: 120rem) {
  :root {
    font-size: 2rem;
  }
}
